:root{
    --body-bg: hsl(226, 43%, 10%);
    --work: hsl(15, 100%, 70%);
    --play: hsl(195, 74%, 62%);
    --study: hsl(348, 100%, 68%);
    --exercise: hsl(145, 58%, 55%);
    --social: hsl(264, 64%, 52%);
    --selfcare: hsl(43, 84%, 65%);
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--body-bg);
    font-family: "Rubik", serif;
    font-size: 18px;
    color: white;
}
main{
    width: 91.67%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 15px;
}
.main-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.character{
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: hsl(246, 80%, 60%);
    border-radius: 10px;
    padding: 20px;
    width: 100%;
}
.character img{
    width: 50px;
    border: 2px solid white;
    border-radius: 50%;
}
h1{
    color: white;
    font-size: 15px;
    font-weight: 300;
    opacity: 1;
}
.name{
    display: block;
    font-size: 20px;
    font-weight: 500;
}
.season-container{
    background-color: hsl(235, 46%, 20%);
    border-radius: 0px 0px 10px 10px;
    padding: 25px;
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
}
.season{
    background: none;
    border: none;
    color: white;
    font-size: 18px;
    cursor: pointer;
    opacity: 0.5;
}
.season:focus{
    opacity: 1;
}
.season:hover{
    opacity: 1;
}
.day{
    position: absolute;
    left: 15px;
    bottom: 10px;
}
.week{
    position: absolute;
    bottom: 10px;
}
.month{
    position: absolute;
    right: 15px;
    bottom: 10px;
}
.main-content{
    margin-bottom: 12px;
    position: relative;
}
.work-bg{
    background-color: var(--work);
    position: relative;
    border-radius: 10px;
    width: 100%;
    height: 70px;
}
.play-bg{
    background-color: var(--play);
    position: relative;
    border-radius: 10px;
    width: 100%;
    height: 70px;
}
.study-bg{
    background-color: var(--study);
    position: relative;
    border-radius: 10px;
    width: 100%;
    height: 70px;   
}
.exercise-bg{
    background-color: var(--exercise);
    position: relative;
    border-radius: 10px;
    width: 100%;
    height: 70px;
}
.social-bg{
    background-color: var(--social);
    position: relative;
    border-radius: 10px;
    width: 100%;
    height: 70px;
}
.selfcare-bg{
    background-color: var(--selfcare);
    position: relative;
    border-radius: 10px;
    width: 100%;
    height: 70px;
}
.images{
    height: 70px;
    position: absolute;
    right: 15px;
}
.content{
    background-color: hsl(235, 46%, 20%);
    border-radius: 10px;
    padding: 20px;
    width: 100%;
    position: relative;
    bottom: 20px;
}
.content:hover{
    cursor: pointer;
    background-color: hsl(235, 45%, 61%);
    opacity: 1;
}
.child{
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 8px;
}
.child p{
    position: absolute;
    right: 0;
    opacity: 0.6;
}
.ellipsis{
    position: absolute;
    right: 0;
    cursor: pointer;
}
h2{
    font-weight: 500;
    font-size: 18px;
}
.time{
    font-size: 28px;
    font-weight: 300;
}
@media (min-width: 1440px) {
    main{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 250px repeat(3, 1fr);
        grid-row-gap: 10px;
        grid-column-gap: 5px;
        height: 510px;
        width: 89%;
        margin-top: 80px;
    }
    .main-container{
        grid-row-start: 1;
        grid-row-end: 3;
    }
    .character{
        display: block;
        position: relative;
    }
    .character img{
        width: 80px;
        margin-bottom: 10px;
    }
    h1{
        margin-bottom: 50px;
    }
    .season-container{
        display: block;
    }
    .season{
        display: block;
        margin-bottom: 10px;
        position: static;
    }
    .child-two{
        display: block;
    }
    .child-two p{
        position: static;
    }
}